html {
    box-sizing: border-box;
}
*, *:after, *::before {
    box-sizing: inherit;
}

body {
     background-image: url("haker3.png");
}
   
 
}
.main {
    width: 100%;
    margin:32px auto,
}

.mainheader {
    color: white;
    font-size: 2cm;
    margin: 50px 30px 50px 30px;
    text-align: center;


}


    color: rgb(238, 9, 9);
    font-size: 0.75cm;



.sectionheader {
    color: white;
    font-size: 1.5cm;
    font-family: fantasy;
    text-align: center;
}

.down {
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
}

.top {
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.link {
    color: white; 
}

.section {
    
    height: 100%;
    padding: 50px;
    margin: 150px;

}

.paragraph {
    
    color: white;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px dotted blueviolet;
    border-radius: 100px;
    text-align:justify;
    

}

.box {
    
    width: 200px;
    height: 200px;
    background-image: url("piesel.png");
    padding: 3px;
    margin: 10px;
    position:relative;
    left: 10px;
    color: black;
    text-align:center;
    font-size: 0.75cm;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside:circle(50%);
    shape-margin: 5px;

}

.footer {
    background-color: blue;
    clip-path: polygon(100% 38%, 100% 100%, 0 100%, 0 24%);
    color:rgb(8, 7, 7);
    padding: 50px;
    
}

.hobby {
    color:beige;0
}
.plan {
    color:beige

}
.navigation {

}
.navigation__list {
    list-style: none;
    padding: 0;
   

}
.navigation__link {
    color: rgb(238, 9, 9);
    font-size: 0.75cm;

}
.navigation__item {
     display: inline;
}
.glossary {
    color:beige;
}
.table {
    color:beige;
    width: 100%;
}